{% extends "base_generic.html" %}
{% block content %}
<div style="margin: 0 auto; width: 50%;" align=center>
<form action="" method="post">{% csrf_token %}
    {% if form.email.errors %} 
	<div class="alert alert-danger">
	    Введите корректный email адрес.
	</div>
    {% endif %}
        <p><input type="email" name="email" value="" id="id_email" maxlength="254" required="" class="form-control"></p> 
    <button type="submit" class="btn btn-success">Сбросить пароль</button>
</form>
</div>
{% endblock %}