{% extends "base_generic.html" %}

{% block content %}
    <style type="text/css">
    td {padding: 5px;}
    </style>
    <div class="col-xs-8 col-xs-offset-4">
    {% if validlink %}
        <p>Введите новый пароль:</p>
        <form action="" method="post">
	{% if form.new_password1.errors or form.new_password2.errors %}
	<div class="alert alert-danger">
	    {{ form.new_password1.errors }}
	    {{ form.new_password2.errors }}
	</div>
	{% endif %}
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>
                        <label for="id_new_password1">Новый пароль:</label></td>
                    <td><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control"></td>
                </tr>
                <tr>
                    <td>
                        <label for="id_new_password2">Повторите пароль:</label></td>
                    <td><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control"></td>
                </tr>
                <tr>
                    <td></td>
                    <td align=right><input type="submit" value="Изменить пароль" class="btn btn-success"/></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
</div>
{% endblock %}