<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Test</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <!-- Добавление дополнительного статического CSS файла -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/sticky-footer.css' %}">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
	    <ul class="nav navbar-nav">
            <li class="active"><a href="/">Главная</a></li>
            <li><a href="#about">About</a></li> 
            <li><a href="#contact">Contact</a></li> 
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
	<ul class="nav navbar-nav navbar-right"> 
	{% block registration %}
		{% if user.is_authenticated %}
		    <li><a>Вы вошли как <b>{{ user.get_username }}</b></a></li>
	    	    <li><a href="{% url 'logout' %}?next={{ request.path}}">Выход</a></li>
		{% else %}
			<li><a href="{% url 'register' %}">Регистрация</a></li>
			<li><a href="{% url 'login' %}?next={{request.path}}">Вход</a></li>
		{% endif%}
	    {% endblock %}
	</ul>

        </div>
      </div>
    </div>
<div id="testCarousel" class="carousel slide" data-ride="carousel">
    <!-- Индикаторы карусели -->
    <ol class="carousel-indicators">
	<!-- Перейти к слайду №0 с помощью соответствующего атрибута с индексом data-slide-to="0" -->
	<li data-target="#testCarousel" data-slide-to="0" class="active"></li>
	<!-- Перейти к слайду №1 с помощью соответствующего индекса data-slide-to="1" -->
	<li data-target="#testCarousel" data-slide-to="1"></li>
	<!-- Перейти к слайду №1 с помощью соответствующего индекса data-slide-to="2" -->
	<li data-target="#testCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Слайды карусели -->
    <div class="carousel-inner">
	<!-- Слайд 1 -->
	<div class="item active">
	    <img src="{% static 'img/carousel-bootstrap-slide1.jpg' %}" alt="first image">
	    <div class="carousel-caption">
		Дополнительная информация слайда 1
	    </div>
	</div>
	<!-- Слайд 2 -->
	<div class="item">
	    <img src="{% static 'img/carousel-bootstrap-slide2.jpg' %}" alt="second image">
	    <div class="carousel-caption">
		Дополнительная информация слайда 2
	    </div>
	</div>
	<!-- Слайд 3 -->
	<div class="item">
	    <img src="{% static 'img/carousel-bootstrap-slide3.jpg' %}" alt="three image">
	    <div class="carousel-caption">
		Дополнительная информация слайда 3
	    </div>
	</div>
    </div>

    <!-- Навигация карусели (следующий или предыдущий слайд) -->
    <!-- Кнопка, переход на предыдущий слайд с помощью атрибута data-slide="prev" -->
    <a class="left carousel-control" href="#testCarousel" role="button" data-slide="prev">
	<span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <!-- Кнопка, переход на следующий слайд с помощью атрибута data-slide="next" -->
    <a class="right carousel-control" href="#testCarousel" role="button" data-slide="next">
	<span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

    <div style="margin-top: 60px"></div>
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}
      </div>
    <div id="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </div>
</body>
</html>